body{
    background-color: darkslateblue;
}

#cp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#button{
    width: 170px;
}

#resp{
    font-size: 30px;
}