body{
    background-color: gray;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bt{
    padding: 5px;
    margin-left: 85px;
}


#button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}