<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="usuarios/estilo.css">
</head>
<body>

  <p> <%= resposta %></p>

  <form action="/listar_carros" method="get">
    <input type="submit" value="Voltar">
    </form>
  
  
</body>
</html>