<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>FOR</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <% for (var i =1; i <= valor;  i++ ) { %>
        <div>
            <%= i %>
        </div>
    <% } %>  
</body>
</html>