<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="Aula_11/lab11/estilo.css">
</head>
<body>
<%   if (status == "sucesso") { %>
        <div><H2 class="resp">Post criado!</H2></div>
<% } else { %>
        <h2>Erro ao efetuar o post!</h2>    
  <%  } %>
    <div><a  class="resp" href="/blog"> Voltar ao blog</a></div>
</body>
</html>