<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="CONCESSIONARIA/estilo.css">
</head>
<body>

  <p> <%= resposta %></p>

  <a href="CONCESSIONARIA/cadastro.html">Voltar</a>
  
</body>
</html>