<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <h1>Resposta</h1>
    <p>Nome:  <%= Nome %>  </p>
    <p>Login: <%= Login %> </p>
    <p>Senha: <%= Senha %> </p>
    <p>Data de nascimento: <%= Nascimento %> </p>
</body>
</html>