<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Entrada</title>
    <link rel="stylesheet" href="Aula_10/lab10/estilo.css">
</head>
<body>
    <div>
    <h1>Dados Pessoais</h1>
    <p>Bem Vindo <%= Login %> !</p>
    <input type="submit" value="Notas">
    <br>
    <input type="submit" value="Aulas">
    </div>
</body>
</html>